.demo { 
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin: 10px;
}

.red {
    background-color: pink;
}

.green {
    background-color: green;
}

.blue {
    background-color: lightblue;
}
